@mixin font($name, $weight, $style) {
  @font-face {
   font-family: 'SourceSansPro';
      src: url(font-path("#{$name}.eot"));
      src: url(font-path("#{$name}.eot?#iefix")) format("embedded-opentype"),
           url(font-path("#{$name}.woff")) format("woff"),
           url(font-path("#{$name}.ttf")) format("truetype"),
           url(font-path("#{$name}.svg##{$name}")) format("svg");
   font-weight: $weight;
   font-style: $style;
  }
}
